html{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Raleway', sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  font-weight: 400;
  color: #FF2F38;
}
ul, ol{

}
pre{
  white-space: break-spaces;
}
img{
  max-width: 100%;
}
p, pre{
  font-weight: 300;
  font-size: 18px;
  line-height: 139%;
  margin-bottom: 1.2em;
  color: #2D2222;
  &:last-child{
    margin-bottom: 0;
  }
  a{
    text-decoration: underline;
    color: #FF2F38;
    font-size: 18px;
    line-height: 139%;
    letter-spacing: 0.03em;
  }
  @media all and (max-width: 1200px) {
    font-size: 17px;
  }
  @media all and (max-width: 1024px) {
    font-size: 16px;
  }
  @media all and (max-width: 768px) {
    font-size: 15px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
  @media all and (max-width: 400px) {
    font-size: 12px;
  }
}
h1{
  font-weight: 700;
  font-size: 36px;
  @media all and (max-width: 1200px) {
    font-size: 30px;
  }
  @media all and (max-width: 1024px) {
    font-size: 24px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
}
ul,ol{
  list-style: none;
  margin: 0;
  li{
    margin-bottom: 0.6em;
  }
}
strong, b{
  font-weight: 600;
}
em{
  font-style: italic;
}
h2{
  font-weight: 600;
  font-size: 30px;
  line-height: 116%;
  color: #2D2222;
  @media all and (max-width: 1200px) {
    font-size: 34px;
  }
  @media all and (max-width: 1024px) {
    font-size: 26px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 10px;
  }
}
h3{
  font-weight: 700;
  font-size: 36px;
}
h4{
  font-weight: 700;
  font-size: 30px;
}
h5{
  font-weight: 700;
  font-size: 24px;
}
h6{
  font-weight: 700;
  font-size: 18px;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container-wide{
  margin-left: calc((100vw - 1600px) / 2);
  margin-right: calc((100vw - 1600px) / 2);
  width: auto;
  @media all and (max-width: 1800px) {
    width: 100%;
    padding: 0 100px;
    margin: auto;
  }
}
.right-padding{
  @include padding_right;
}

.left-padding{
  @include padding_left;
}

.red-btn{
  display: inline-flex;
  align-items: center;
  padding: 8px 22px 11px 50px;
  background-color: $red-color;
  border-radius: 0 0 0 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  transition: $transition;
  svg{
    margin-left: 16px;
  }
  &:hover{
    background-color: #D61B23;
  }
}
.white-button{
  width: calc(100% - 80px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $red-color;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2D2222;
  padding: 10px;
  transition: $transition;
  &:hover{
    background-color: $red-color;
    color: white;
  }
}

.single-item-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2D2222;
}
.single-item-desc{
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #397589;
}