html{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Raleway', sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  font-weight: 400;
  color: #FF2F38;
}
ul, ol{

}
pre{
  white-space: break-spaces;
}
img{
  max-width: 100%;
}
p, pre{
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  margin-bottom: 1.2em;
  color: #2D2222;
  &:last-child{
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
    color: #FF2F38;
    font-size: 18px;
    line-height: 139%;
    letter-spacing: 0.03em;
    &:hover{
      text-decoration: underline;
    }
  }
  @media all and (max-width: 1200px) {
    font-size: 17px;
  }
  @media all and (max-width: 768px) {
    font-size: 16px;
    line-height: 140.9%;
    a{
      text-decoration: underline;
    }
  }
}
h1{
  font-weight: 700;
  font-size: 36px;
  @media all and (max-width: 1200px) {
    font-size: 30px;
  }
}
ul,ol{
  list-style: disk;
  margin: 0;
  li{
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    margin-bottom: 1.2em;
    &::before {
      color: red; /* Цвет маркера */
      content: "●"; /* Сам маркер */
      padding-right: 10px; /* Расстояние от маркера до текста */
    }
  }
}
strong, b{
  font-weight: 600;
}
em{
  font-style: italic;
}
h2{
  font-weight: 600;
  font-size: 30px;
  line-height: 116%;
  color: #2D2222;
  @media all and (max-width: 1200px) {
    font-size: 34px;
  }
  @media all and (max-width: 1024px) {
    font-size: 24px;
  }
}
h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  @media all and (max-width: 1024px) {
    font-size: 18px;
  }
}
h4{
  font-weight: 500;
  font-size: 18px;
  @media all and (max-width: 1024px) {
    font-size: 18px;
  }
}
h5{
  font-weight: 500;
  font-size: 18px;
  @media all and (max-width: 1024px) {
    font-size: 16px;
  }
}
h6{
  font-weight: 400;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container-wide{
  margin-left: calc((100vw - 1600px) / 2);
  margin-right: calc((100vw - 1600px) / 2);
  width: auto;
  @media all and (max-width: 1800px) {
    width: 100%;
    padding: 0 100px;
    @include padding_right;
    @include padding_left;
    margin: auto;
  }
}
.right-padding{
  @include padding_right;
}

.left-padding{
  @include padding_left;
}
.full-width-button, button[type="submit"]{
  padding: 9px 10px 11px 10px;
  background-color: $red-color;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  transition: $transition;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  svg{
    margin-left: 16px;
  }
  &:hover{
    background-color: #D61B23;
  }
}
.red-btn{
  display: inline-flex;
  align-items: center;
  padding: 8px 22px 11px 50px;
  background-color: $red-color;
  border-radius: 0 0 0 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  transition: $transition;
  @include right-btn;
  svg{
    margin-left: 16px;
  }
  &:hover{
    background-color: #D61B23;
  }
}
.white-button{
  width: calc(100% - 80px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $red-color;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2D2222;
  padding: 10px;
  transition: $transition;
  &:hover{
    background-color: $red-color;
    color: white;
  }
}

.single-item-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2D2222;
}
.single-item-desc{
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #397589;
}

table{
  width: calc(33.333% - 37px);
  border-top: 1px solid #397589;
  border-bottom: 1px solid #397589;
  td{
    padding: 14px 27px;
    border: 1px solid #397589;
    font-size: 16px;
    line-height: 118%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2D2222;
  }
  tr{
    &:nth-child(odd){
      background-color: #DFF7FF;
    }
  }
}
form{
  label{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    color: #397589;
  }
  input{
    background: #FFFFFF;
    border: 1px solid #397589;
    box-sizing: border-box;
    padding: 11px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 114%;
    letter-spacing: 0.03em;
    color: #000000;
    border-radius: 5px;
    &::placeholder{
      font-weight: 500;
      font-size: 18px;
      line-height: 114%;
      letter-spacing: 0.03em;
      color: #000000;
    }
  }
  textarea{
    resize: none;
    height: 191px;
    border-radius: 5px;
  }
  .row{
    input{
      margin-top: 13px;
    }
    textarea{
      margin-top: 13px;
    }
  }
}
.slick-dots{
  li{
    &:before{
      content: "";
      padding-right: 0;
    }

  }
}
.best-casinos__item, .streamers__content-item, .newonline__slots-item, .popular .popular__slide, .top-slots__item, .news__item{
  transition: all 0.2s;
  cursor: pointer;
   &:hover{
     box-shadow: 0 0 25px rgba(16, 53, 187, 0.28);
     transform: scale(1.02);
   }
}