html{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Raleway', sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  font-weight: 400;
}
ul, ol{

}
pre{
  white-space: break-spaces;
}
img{
  max-width: 100%;
}
p, pre{
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 0.9em;
  @media all and (max-width: 1200px) {
    font-size: 17px;
  }
  @media all and (max-width: 1024px) {
    font-size: 16px;
  }
  @media all and (max-width: 768px) {
    font-size: 15px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
  @media all and (max-width: 400px) {
    font-size: 12px;
  }
}
h1{
  font-weight: 700;
  font-size: 36px;
  @media all and (max-width: 1200px) {
    font-size: 30px;
  }
  @media all and (max-width: 1024px) {
    font-size: 24px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
}
ul,ol{
  list-style: none;
  margin: 0;
  li{
    margin-bottom: 0.6em;
  }
}
strong, b{
  font-weight: 600;
}
em{
  font-style: italic;
}
h2{
  font-weight: 500;
  font-size: 42px;
  @media all and (max-width: 1200px) {
    font-size: 34px;
  }
  @media all and (max-width: 1024px) {
    font-size: 26px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 10px;
  }
}
h3{
  font-weight: 700;
  font-size: 36px;
}
h4{
  font-weight: 700;
  font-size: 30px;
}
h5{
  font-weight: 700;
  font-size: 24px;
}
h6{
  font-weight: 700;
  font-size: 18px;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container-wide{
  max-width: 1800px;
  width: auto;
  padding: 0 100px;
}
.right-padding{
  @include padding_right;
}

.left-padding{
  @include padding_left;
}