$px: .0520833333333;
$pxm: 0.130208;
$pxmf: 3.478;
$pxmd: 0.09765625;
$pxmt: 0.130208;
$pxm: 0.2666;

$green: #41B718;
$yellow: #F0DD45;
$black: 000000;
$hoverbutton: #41B718;

$red-color: #FF2F38;
$yellow-color: #F4D21F;
$transition: 0.2s;

@mixin padding_left {
  padding-left: calc((100vw - 1600px) / 2);
  @media all and (max-width: 1800px) {
    padding-left: 100px;
  }
  @media all and (max-width: 1400px) {
    padding-left: 50px;
  }
  @media all and (max-width: 768px) {
    padding-left: 20px;
  }
}

@mixin padding_right {
  padding-right: calc((100vw - 1600px) / 2);
  @media all and (max-width: 1800px) {
    padding-right: 100px;
  }
  @media all and (max-width: 1400px) {
    padding-right: 50px;
  }
  @media all and (max-width: 768px) {
    padding-right: 20px;
  }
}
@mixin transition{
  transition: 0.1s;
  transition-timing-function: ease-in;
}

@mixin right-btn{
  @media all and (max-width: 1800px) {
    right: 100px;
  }
  @media all and (max-width: 1400px) {
    right: 50px;
  }
  @media all and (max-width: 768px) {
    right: 20px;
  }
  @media all and (max-width: 500px) {
    width: 100%;
    position: static;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 50px 0 0;
    display: flex;
    justify-content: center;
  }
}