.main-page{
  .news{
    .news__date{
      display: none;
    }
  }
}
.slot-category-page, .casino-category-page, .news-category-page, .digest-category-page, .contacts-page, .search-result-page{
  display: flex;
  .main-content{
    width: 68%;
    .text-block__container{
      margin-right: 0;
    }
  }
}
.digest-article{
  .streamers{
    &__content{
      width: 100%;
      &-list{
        margin-right: -44px;
      }
      &-item{
        width: calc(25% - 44px);
        margin-right: 44px;
      }
    }

  }
}

.digest-category-page{
  .streamers{
    padding: 45px 0 0 100px;
    &__content{
      width: 100%;
      padding-bottom: 36px;
      &-item{
        margin-bottom: 25px;
      }
    }
    .pagination{
      margin-top: 24px;
    }
  }
  .cat-play{
    padding-right: 0;
    .best-casinos__content{
      padding-right: 56px;
      margin-right: 0;
    }
  }
}
.casino-category-page{
  .pagination{
    padding-right: 60px;
  }
  .cat-play{
    padding-right: 0;
    .best-casinos__content{
      margin-right: 56px;
    }
    .best-casinos__item{
      margin-bottom: 50px;
    }
  }
  .sb-best{
    padding-bottom: 45px;
  }
}
.news-category-page{
  .cat-play{
    padding-right: 0;
    .best-casinos__content{
      margin-right: 56px;
    }
    .best-casinos__item{
      margin-bottom: 50px;
    }
  }
  .category-first{
    &:first-child{
      .newonline__slots-list{
        margin-top: 55px;
      }
    }
    .newonline__slots-date{
      padding-left: 29px;
    }
    .newonline__slots-list{
      margin-right: -26px;
      padding-bottom: 15px;
      margin-top: 45px;
    }
    .newonline__slots-item{
      width: calc(33.333% - 26px);
      margin-right: 26px;
      margin-bottom: 30px;
    }
    .newonline__slots-img{
      height: 188px;
    }
    .newonline__slots-content{
      padding: 20px 29px 50px 29px;
    }
    .newonline__slots-title{
      text-align: left;
    }
  }
  .sb-best{
    padding-bottom: 0;
  }
}
.news-article, .slot-article{
  .news{
    padding-bottom: 45px;
  }
  .newonline{
    background-color: transparent;
    margin-top: 73px;
    &__slots{
      padding-top: 0;
      width: 100%;
      &-list{
        margin-top: 40px;
        padding-bottom: 138px;
      }

      &-item{
        width: calc(20% - 20px);
        margin-bottom: 20px;
      }
    }
  }
}
.slot-article{
  .newonline__slots-list {
    padding-bottom: 56px;
  }
  .best-casinos__container{
    padding-bottom: 31px;
  }
}
.search-result-page{
  .sb-best{
    padding-bottom: 0;
  }
  .sb-last-news__item{
    &:hover{
      .sb-last-news__desc{
        text-decoration: underline;
      }
    }
  }
}