@import "normalize";
@import "vars";
@import "default";

html{
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.header{
  background-color: $red-color;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  &__burger{
    display: none;
    cursor: pointer;
    max-height: 21px;
    height: 100%;
    width: 24px;
    &:hover{
      span{
        width: 100% !important;
      }
    }
    @media all and (max-width: 1160px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      span{
        height: 3px;
        display: block;
        background-color: white;
        @include transition;
        &:first-child{
          width: 100%;
        }
        &:nth-child(2){
          width: calc(100% - 6px);
          transition-delay: 0.1s;
        }
        &:nth-child(3){
          width: calc(100% - 13px);
          transition-delay: 0.2s;
        }
      }
    }
  }
  &__bottom-nav{
    display: flex;
    margin-top: 18px;
    background-color: #F4D21F;
    border-radius: 34px 0 0 0;
    overflow: hidden;
    @media all and (max-width: 600px) {
      position: relative;
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 0;
      margin-top: 7px;
      border-radius: 0;
    }
  }
  &__static-lnk{
    padding: 9px 57px;
    background-color: #2D2222;
    display: flex;
    align-items: center;
    @media all and (max-width: 600px) {
      padding: 9px 17px;
    }
    a{
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      color: #FF2F38;
      white-space: nowrap;
    }
  }
  &__slots{
    display: flex;
    align-items: center;
    overflow: hidden;
    &-container{
      height: 100%;
      width: calc(100% - 42px);
      display: flex;
      align-items: center;
    }
    &-item{
      padding: 0 58px;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      color: #2D2222;
      background-color: #F4D21F;
      @include transition;
      border-right: 1px solid #DCBA05;
      border-left: 1px solid #FFE073;
      white-space: nowrap;
      &:last-child{
        border-right: none;
      }
      &:hover{
        background-color: #FFE350;
        text-decoration: underline;
      }
      @media all and (max-width: 600px) {
        padding: 0 33px;
      }
    }
    &-navigate{
      width: 52px;
      display: flex;
      justify-content: space-between;
      margin-left: 40px;
      height: 100%;
      align-items: center;
      @media all and (max-width: 600px) {
        margin-left: 20px;
      }
      div{
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex!important;
        margin-right: 12px;
        @media all and (max-width: 600px) {
          background-color: #DBBA10;
          justify-content: center;
          height: 100%;
        }
        &:first-child{
          @media all and (max-width: 600px) {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            margin: 0;
          }
        }
        &:last-child{
          margin-right: 0;
        }
        &.swiper-button-disabled{
          opacity: 0.5;
          pointer-events: none;
        }
        img{
          height: 100%;
          width: auto;
        }
      }
    }
  }
  &__container{
    display: flex;
    padding-top: 14px;
    justify-content: space-between;
    @media all and (max-width: 1160px) {
      flex-wrap: wrap;
    }
    @media all and (max-width: 600px) {
      padding: 7px 0px 0 20px;
    }
  }
  &__logo{
    margin-right: 37px;
    width: 115px;
    @media all and (max-width: 1160px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    img{
      width: 100%;
      height: auto;
      @media all and (max-width: 1160px) {
        width: 70px;
      }
    }
  }
  &__navigate{
    width: calc(100% - 152px);
    display: flex;
    flex-direction: column;
    @media all and (max-width: 1160px) {
      width: 100%;
    }
  }
  &__top-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 1160px) {
      display: none;
    }
    .search-block{
      width: 21%;
      position: relative;
      @media all and (max-width: 1300px) {
        display: none;
      }
      svg{
        margin-left: 0;
      }
      &__mobile{
        display: none;
        margin-left: 30px;
        cursor: pointer;
        svg{
          @include transition;
        }
        &:hover{
          svg{
            path{
              fill: #F4D21F;
            }
          }
        }
        @media all and (max-width: 1300px) {
          display: flex;
          height: 39px;
          width: 40px;
          justify-content: center;
          align-items: center;
        }
      }
      button[type="submit"]{
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input{
        padding: 13px 19px 11px 19px;
        width: 100%;
        background: #D92129;
        border-radius: 5px;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        opacity: 1;
        font-weight: 400;
        border: none;
        &::placeholder{
          font-size: 14px;
          line-height: 114%;
          letter-spacing: 0.03em;
          color: #FFFFFF;
          opacity: 0.3;
          font-weight: 400;
        }
      }
    }
  }
  &__page{
    width: calc(79% - 37px);
    @media all and (max-width: 1300px) {
      width: 100%;
    }
    nav{
      .page-manu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
          margin-bottom: 0;
          &:before{
            display: none;
          }
          &:hover{
            a{
              color: #F4D21F;
            }
          }
          a{
            display: flex;
            align-items: center;
            @include transition;
            img{
              margin-right: 10px;
              @media all and (max-width: 1550px) {
                display: none;
              }
            }
            font-weight: 600;
            font-size: 18px;
            line-height: 116%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
          }
          &.active-menu{
            a{
              color: #F4D21F;
            }
          }
        }
      }
    }
  }
}
.breadcrumbs{
  position: sticky;
  top: 104px;
  left: 0;
  z-index: 99;
  @media all and (max-width: 1160px) {
    display: none;
  }
  &__list{
    display: inline-flex;
    align-items: center;
    min-width: 341px;
    padding-right: 60px;
    background-color: #F2F2F2;
    @include padding_left;
    border-radius: 0 0 30px 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  span{
    color: #2D2222;
  }
  a{
    color: #828282;
  }
  &__item{
    display: flex;
    align-items: center;
    border-right: 1px solid #828282;
    padding: 0 14px;
    &:last-child{
      padding-right: 0;
      border-right: none;
    }
    &:first-child{
      padding-left: 0;
    }
  }
}
.only-desc{
  margin-top: 45px;
  margin-bottom: 75px;
  @media all and (max-width: 768px) {
    margin-top: 30px;
  }
  @media all and (max-width: 500px) {
    margin-bottom: 30px;
  }
  &__title{

  }
  &__content{
    margin-top: 20px;
  }
}
.best-casinos{
  &__container{
    padding-top: 40px;
    padding-bottom: 18px;
    position: relative;
    @media all and (max-width: 768px) {
      padding-top: 70px;
    }
    @media all and (max-width: 500px) {
      padding-bottom: 0;
      padding-top: 30px;
    }
  }
  &__content{
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    @media all and (max-width: 500px) {
      margin-top: 34px;
    }
    &-item{
      margin-top: 15px;
      text-align: center;
      @include transition;
      @media all and (max-width: 500px) {
        width: 100%;
      }
      span{
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.03em;
        color: #828282;
        padding: 0 10px;
        @media all and (max-width: 1300px) {
          padding: 0 6px;
          font-size: 12px;
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
      }
      .applies{
        color: #828282;
        text-decoration: underline;
        border-right: 1px solid #828282;
        border-left: 1px solid #828282;
        padding: 0 10px;
        position: relative;
        z-index: 2;
        @include transition;
        &:hover{
          color: $red-color;
        }
      }
    }
  }
  &__item{
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 16px;
    position: relative;
    @media all and (max-width: 1200px) {
      width: calc(25% - 20px);
      &:nth-child(8n + 1){
        display: none;
      }
    }
    @media all and (max-width: 1000px) {
      width: calc(33.3333% - 20px);
      &:nth-child(8n + 1){
        display: block;
      }
      &:nth-child(10n + 1){
        display: none;
      }
    }
    @media all and (max-width: 768px) {
      width: calc(50% - 20px);
      margin-bottom: 20px;
      &:nth-child(8n + 1){
        display: block;
      }
      &:nth-child(9n + 1){
        display: none;
      }
      &:nth-child(10n + 1){
        display: none;
      }
    }
    @media all and (max-width: 500px) {
      width: 100%;
      overflow: visible;
      display: flex;
      flex-wrap: wrap;
    }
    &-lnk{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  &__img{
    position: relative;
    @media all and (max-width: 500px) {
      width: calc(50% - 10px);
    }
    picture{
      width: 100%;
      height: 100%;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      @media all and (max-width: 500px) {
        overflow: hidden;
        border-radius: 10px 0 0 0;
      }
    }
    .place{
      background-image: url("../../images/img-test/place-bg.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 13px;
      left: 10px;
      padding-top: 9px;
      display: flex;
      justify-content: center;
      font-size: 18px;
      line-height: 116%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FF2F38;
      width: 39px;
      height: 62px;
      @media all and (max-width: 500px) {
        background-image: url("../../images/img-test/place-bg-mob.svg");
        height: 40px;
        top: -20px;
        left: 8px;
        font-weight: 700;
      }
    }
    .rate{
      position: absolute;
      bottom: 9px;
      left: 10px;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 116%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      svg{
        margin-right: 5px;
      }
    }
    .info{
      position: absolute;
      top: 12px;
      right: 10px;
      z-index: 2;
      @media all and (max-width: 500px) {
        width: 16px;
        height: 16px;
        svg{
          width: 100%;
          height: auto;
        }
      }
    }
    .country{
      position: absolute;
      bottom: 15px;
      right: 10px;
      display: flex;
      flex-direction: column;
      img{
        margin-top: 8px;
        width: 22px;
        height: auto;
      }
    }
  }
  &__permalink{
    margin-top: 15px;
    @include transition;
    z-index: 2;
    position: relative;
    @media all and (max-width: 1300px) {
      width: calc(100% - 20px);
    }
  }
  &__title-item{
    background-color: #00DB5C;
    font-weight: 600;
    font-size: 18px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 8px;
    @media all and (max-width: 1530px) {
      font-size: 16px;
    }
    @media all and (max-width: 1300px) {
      font-size: 14px;
    }
    @media all and (max-width: 500px) {
      width: calc(50% - 10px);
      margin-left: 20px;
      background-color: transparent;
      color: #00DB5C;
      text-align: left;
      padding-left: 0;
      padding-top: 14px;
      font-size: 16px;
      line-height: 118%;
    }
  }
  &__lnk{
    position: absolute;
    top: 0;
    right: 0;
    @include right-btn;
  }
}
.streamers{
  padding: 78px 0 19px 0;
  &__undertitle{
    margin-top: 20px;
  }
  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    position: relative;
    width: calc(71% - 23px);
    &-list{
      display: flex;
      margin-right: -25px;
      margin-top: 44px;
      flex-wrap: wrap;
    }
    &-item{
      width: calc(33.3% - 25px);
      margin-right: 25px;
      margin-bottom: 38px;
      background: #FFFFFF;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      //@include transition;
      //&:hover{
      //  box-shadow: 0 0 25px rgba(16, 53, 187, 0.28);
      //  transform: translateY(-17px);
      //  margin-bottom: 19px;
      //  .streamers__content-desc{
      //    padding-top: 29px;
      //  }
      //  .streamers__content-img{
      //    height: 265px;
      //  }
      //}
    }
    &-desc{
      padding: 28px 20px 25px 20px;
      @include transition;
    }
    &-img{
      //height: 249px;
      @include transition;
      picture{
        width: 100%;
        height: 100%;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    &-lnk{
      position: absolute;
      right: 0;
      top: 0;
    }
    &-title{
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis; /* Добавляем многоточие */
    }
    &-date{
      margin-top: 19px;
      display: block;
      text-align: left;
    }
  }
  &__vertical{
    width: calc(29% - 23px);
    text-align: center;
    &-rate{
      position: absolute;
      left: -20px;
      top: -16px;
      width: 40px;
      height: 40px;
      background-image: url("../../images/streamers-rate.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 114%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FF2F38;
      font-weight: 700;
    }
    &-list{
      margin-top: 44px;
      padding-bottom: 35px;
      display: flex;
      flex-direction: column;
    }
    &-item{
      display: flex;
      background-color: #F4D21F;
      border-radius: 10px;
      padding: 16px 18px 17px 18px;
      margin-bottom: 25px;
      flex-direction: column;
      position: relative;
      @include transition;
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        background-color: #FFE073;
      }
    }
    &-name{
      font-weight: 600;
      font-size: 20px;
      line-height: 115%;
      text-align: left;
      letter-spacing: 0.03em;
      color: #FF2F38;
      padding-left: 10px;
    }
    &-opt{
      display: flex;
      align-items: center;
      margin-top: 9px;
      svg{
        margin-right: 12px;
      }
      span{
        font-weight: 600;
        font-size: 18px;
        line-height: 116%;
        letter-spacing: 0.03em;
        color: #2D2222;
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
    }
    &-games{
      padding-left: 10px;
      display: flex;
      margin-top: 8px;
      strong{
        font-size: 18px;
        line-height: 116%;
        letter-spacing: 0.03em;
        color: #2D2222;
        font-weight: 700;
        margin-right: 16px;
      }
      span{
        font-weight: 500;
        font-size: 18px;
        line-height: 116%;
        letter-spacing: 0.03em;
        color: #2D2222;
      }
    }
    &-lnk{
      border-radius: 5px;
      padding: 10px 72px;
      align-self: flex-end;
    }
  }
}
.newonline{
  background-color: #DFF7FF;
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__announced{
    width: 278px;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    &-lnk{
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      margin-top: auto;
    }
    &-title{
      color: $red-color;
    }
    &-list{
      margin-top: 38px;
    }
    &-item{
      padding-bottom: 15px;
      border-bottom: 1px dotted #BDBDBD;
      display: block;
      margin-bottom: 22px;
      &:hover{
        .newonline__announced-item-title{
          color: $red-color;
          text-decoration: underline;
        }
      }
      &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
      &-title{
        text-align: left;
        @include transition;
      }
      &-desc{
        text-align: left;
        margin-top: 7px;
      }
    }
  }
  &__slots{
    padding-top: 44px;
    position: relative;
    width: calc(100% - 324px);
    &-title{

    }
    &-content{
      padding: 14px 15px 15px 15px;
    }
    &-subtitle{
      margin-top: 31px;
    }
    &-lnk{
      position: absolute;
      top: 0;
      right: 0;
    }
    &-list{
      margin-top: 44px;
      display: flex;
      flex-wrap: wrap;
      margin-right: -20px;
      padding-bottom: 42px;
    }
    &-item{
      margin-right: 20px;
      margin-bottom: 20px;
      width: calc(25% - 20px);
      background: #FFFFFF;
      box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
      border-radius: 10px;
      overflow: hidden;
    }
    &-img{
      position: relative;
      //height: 201px;
      picture{
        width: 100%;
        height: 100%;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    &-date{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 7px 37px 7px 15px;
      display: inline-flex;
      align-items: center;
      background-color: rgba(45,34,34,0.5);
      color: white;
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      letter-spacing: 0.03em;
      border-radius: 0 50px 0 0;
    }
  }
}
.popular{
  padding-top: 75px;
  &__tabs{
    &-list{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      overflow: hidden;
    }
  }
  .slick-list{
    padding: 20px 20px 20px 20px;
    margin: -20px;
    .slick-slide{
      opacity: 0;
      @include transition;
      &.slick-active{
        opacity: 1;
      }
    }
  }
  &__tab{
    padding: 10px 44px;
    background-color: #DE1019;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 18px;
    line-height: 116%;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 0;
    cursor: pointer;
    &:before{
      display: none;
    }
    &.active-tab{
      background-color: #FF2F38;
    }
    &:first-child{
      border-radius: 50px 0 0 0;
    }
    &:last-child{
      box-shadow: none;
    }
  }

  &__sliders{
    background-color: $red-color;
    padding-bottom: 32px;
  }
  &__slider{
    display: none;
    padding-top: 60px;
    position: relative;
    .slick-slide{
      margin-bottom: 0;
    }
    &-link{
      position: absolute;
      bottom: 0;
      right: 0;
      color: white;
      background-color: transparent;
      padding-bottom: 0;
      &:hover{
        background-color: transparent;
      }
    }
    .slick-dots{
      margin-top: 33px;
      display: flex;
      justify-content: center;
      li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,0);
        margin: 0 2.5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &.slick-active{
          border: 1px solid rgba(255,255,255,1);
          &:before{
            opacity: 1;
          }
        }
        &:before{
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: white;
          opacity: 0.3;
        }
        button{
          display: none;
        }
      }
    }
    &.active-tab{
      display: block;
    }
    &-wrapper{
      margin-right: -20px;
    }
  }
  &__slide{
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(25% - 20px);
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
    border-radius: 10px;
    overflow: hidden;
    &-title{

    }
    &-content{
      padding: 14px 15px 15px 15px;
    }
    &-subtitle{
      margin-top: 31px;
    }
  }
}
.peoples{
  margin-top: 78px;
  padding-bottom: 75px;
  &__container{
    position: relative;
  }
  &__title{

  }
  &__about{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #2D2222;
    margin-top: 26px;
    @include transition;
  }
  &__img{
    max-height: 366px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    picture{
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__list{
    display: flex;
    margin-top: 43px;
    margin-right: -20px;
  }
  &__item{
    width: calc(20% - 20px);
    margin-right: 20px;
    &:hover{
      .peoples__about{
        color: $red-color;
      }
    }
  }
  &__lnk{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.top-slots{
  background-color: #DFF7FF;
  position: relative;
  &__title{
    padding-top: 42px;
  }
  &__container{
    position: relative;
  }
  &__lnk{
    position: absolute;
    right: 0;
    top: 0;
  }
  &__content{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    padding-bottom: 36px;
  }
  &__item{
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    &-link{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  &__image{
    height: 100%;
    width: 50%;
    picture{
      width: 100%;
      height: 100%;
      display: block;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__desc{
    width: 50%;
    padding: 15px 19px 14px 19px;
  }
  &__casinos{
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    color: white;
    position: relative;
    z-index: 3;
  }
  &__slots{
    color: #2D2222;
    margin-top: 14px;
  }
}
.news{
  margin-top: 78px;
  overflow: hidden;
  padding-bottom: 30px;
  &__container{
    position: relative;
  }
  &__wrapper{
    margin-top: 42px;
    .slick-list{
      margin-right: -44px;
      padding-bottom: 21px;
      overflow: visible;
    }
    .slick-slide{
      opacity: 0;
      pointer-events: none;
      @include transition;
      &.slick-active{
        opacity: 1;
        pointer-events: auto;
      }
    }
    .slick-dots{
      margin-top: 33px;
      display: flex;
      justify-content: center;
      li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,0);
        margin: 0 2.5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &.slick-active{
          border: 1px solid #FF2F38;
          &:before{
            background-color: #FF2F38;
            opacity: 1;
          }
        }
        &:before{
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #BDBDBD;
          opacity: 0.3;
        }
        button{
          display: none;
        }
      }
    }
  }
  &__item{
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 46px;
    &-title{
      height: 116px;
      padding: 20px 29px;
      font-weight: 500;
      font-size: 18px;
      line-height: 116%;
      letter-spacing: 0.03em;
      color: #2D2222;
    }
  }
  &__image{
    //height: 188px;
    overflow: hidden;
    position: relative;
    picture{
      display: block;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__lnk{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__date{
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 7px 43px 7px 20px;
    background-color: rgba(45,34,34,0.5);
    border-radius: 0 40px 0 0;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
  }
}
.text-block{
  padding-top: 32px;
  padding-bottom: 74px;
  h1{
    margin-bottom: 20px;
  }
  h2{
    margin-bottom: 13px;
  }
  &__container{
    margin-bottom: 34px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  p{
    margin-bottom: 32px;
    &:last-child{
      margin-bottom: 0;
    }
    color: #2D2222;
    strong{
      font-weight: bolder;
    }
  }
}
.footer{
  background-color: #2D2222;
  padding-top: 31px;
  padding-bottom: 23px;
  border-bottom: 4px solid $red-color;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav{
    &-menu{
      display: flex;
      align-items: center;
      list-style: none;
      li{
        margin-right: 36px;
        &:before{
          display: none;
        }
        &:last-child{
          margin-right: 0;
        }
        &.active-menu, &:hover{
          a{
            color: #F4D21F;
          }
        }
        a{
          font-weight: 500;
          font-size: 18px;
          line-height: 116%;
          letter-spacing: 0.03em;
          color: #FFFFFF;
          @include transition;
        }
      }
    }
  }
  &__search{
    width: 21%;
    position: relative;
    button[type="submit"]{
      background-color: transparent;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        margin-left: 0;
      }
    }
    input{
      padding: 13px 19px 12px 19px;
      width: 100%;
      background: #1B1717;
      border-radius: 5px;
      font-size: 14px;
      line-height: 114%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      opacity: 1;
      font-weight: 400;
      border: none;
      &::placeholder{
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        opacity: 0.3;
        font-weight: 400;
      }
    }
  }
  &__copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    &-text{
      font-size: 14px;
      line-height: 114%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      display: flex;
      align-items: flex-end;
    }
    &-socials{
      display: flex;
      align-items: center;
      &-item{
        margin-right: 16px;
        opacity: 0.3;
        @include transition;
        &:hover{
          opacity: 1;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &-icons{
      display: flex;
      align-items: center;
    }
    &-icon{
      opacity: 0.3;
      margin-right: 25px;
      @include transition;
      &:hover{
        opacity: 1;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.category-first{
  margin-top: 45px;
  &__desc{
    margin-top: 20px;
    margin-bottom: 45px;
  }
  &__content{
    .newonline__slots-list{
      margin-top: 55px;
    }
    .newonline__slots-img{
      //height: 180px;
    }
    .newonline__slots-subtitle{
      margin-top: 25px;
    }
    .newonline__slots-content {
      padding: 13px 15px 14px 15px;
    }
  }
}
.cat-play{
  padding-right: 56px;
  background-color: #DFF7FF;
  .best-casinos{
    &__container{
      padding-bottom: 32px;
    }
    &__item{
      width: calc(33.3333% - 60px);
      margin-right: 60px;
      margin-bottom: 59px;
    }
  }
}
.cat-main-content{
  .newonline{
    &__slots{
      &-list{
        margin-top: 75px;
      }
      &-img{
        //height: 179px;
      }
      &-content{
        padding: 13px 15px 12px 15px;
      }
      &-subtitle{
        margin-top: 25px;
      }
    }
  }
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 29px;
  li{
    margin-bottom: 0;
    &:before{
      display: none;
    }
    &.disabled{
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__number{
    margin-right: 22px;
    a{
      color: #000000;
      font-weight: 500;
      font-size: 18px;
      line-height: 116%;
      letter-spacing: 0.03em;
      @include transition;
      &:hover{
        color: $red-color;
      }
    }
    &.active{
      a{
        color: $red-color;
      }
    }
  }
  &__next{
    margin-left: 28px;
    margin-right: 15px;
  }
  &__prev{
    margin-right: 50px;
    margin-left: 15px;
  }
}
.single-news-article{
  padding-top: 45px;
  &__title{
    margin-bottom: 30px;
  }
  &__container{
    //display: flex;
    //flex-wrap: wrap;
  }
  &__content{
    margin-top: 45px;
  }
  &__img{
    width: 57.5%;
    margin-right: 52px;
    position: relative;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    height: 474px;
    overflow: hidden;
    float: left;
    margin-bottom: 48px;
    picture{
      width: 100%;
      height: 100%;
      display: block;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__desc{
    width: calc(42.5% - 52px);
  }
  &__date{
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 56px 14px 30px;
    background-color: rgba(45,34,34,0.5);
    border-radius: 0 0 40px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  &__source{
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 140.9%;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 8px 139px 10px 31px;
    background-color: #F4D21F;
    border-radius: 0 50px 0 0;
    span{
      font-weight: 400;
    }
  }
}
.single-slot-article{
  margin-top: 38px;
  &__title{
    display: flex;
    align-items: center;
  }
  &__icon{
    height: 60px;
    width: auto;
    margin-right: 28px;
    picture{
      display: block;
      height: 100%;
      width: auto;
      img{
        height: 100%;
        width: auto;
      }
    }
  }
  &__container{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
  }
  &__img{
    width: 71%;
    margin-right: 83px;
    picture{
      width: 100%;
      height: auto;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__items{
    width: 100%;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    overflow: hidden;
  }
  &__item{
    height: 645px;
  }
  &__desc{
    width: calc(29% - 83px);
    display: flex;
    flex-direction: column;
    .rate-block{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-wrap: wrap;
      &__title{
      }
      &__container{
        margin-top: 21px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
        border-radius: 10px;
        display: flex;
      }
      &__digit{
        width: 115px;
        height: 115px;
        background: #FF2F38;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__num{
        font-weight: 600;
        font-size: 48px;
        line-height: 116%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }
      &__voutes{
        font-weight: 500;
        font-size: 16px;
        line-height: 118%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }
      &__rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 22px;
        > span{
          font-weight: 600;
          font-size: 18px;
          line-height: 116%;
          letter-spacing: 0.03em;
          color: #2D2222;
        }
        &-result {
          display: inline-block;
          font-size: 0;
          span {
            padding: 0;
            font-size: 40px;
            line-height: normal;
            color: #DFF7FF;

            &:before {
              content: '★';
            }
            &.active {
              color: #F4D21F;
            }
          }
        }
      }
    }
    &-img{
      border-radius: 10px;
      overflow: hidden;
      picture{
        height: 100%;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    &-tag{
      margin-top: 26px;
      display: flex;
      flex-wrap: wrap;
      padding-right: 60px;
    }
    &-lnk{
      width: calc(50% - 10px);
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 12px;
      line-height: 116%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .slick-slider-dots{
    .slick-dots{
      margin-top: 33px;
      display: flex;
      justify-content: center;
      li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,0);
        margin: 0 2.5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &.slick-active{
          border: 1px solid #FF2F38;
          &:before{
            background-color: #FF2F38;
            opacity: 1;
          }
        }
        &:before{
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #BDBDBD;
          opacity: 0.3;
        }
        button{
          display: none;
        }
      }
    }
  }
  &__content{
    margin-top: 55px;
    padding-bottom: 61px;
    width: 100%;
  }
  &__tables{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .value{
      text-align: center;
    }
  }
}
.slots-video{
  padding-top: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 75px;
  &__text{
    width: calc(50% - 32px);
    margin-right: 64px;
  }
  &__video{
    width: calc(50% - 32px);
    border-radius: 10px;
    overflow: hidden;
    height: 401px;
  }
  &__title{
    margin-top: 43px;
  }
  &__bottomheader{
    margin-top: 13px;
  }
  &__about{
    width: 100%;
    max-width: 1094px;
    padding: 54px 61px;
    display: flex;
    border: 1px solid #397589;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: #397589;
    margin-top: 77px;
    p{
      text-align: center;
      font-size: 24px;
      line-height: 116%;
      letter-spacing: 0.03em;
      color: #397589;
    }
  }
}
.slots-acardeon{
  margin-top: 75px;
  padding-bottom: 45px;
  &__list{
    margin-top: 36px;
  }
  &__item{
    border: 1px solid #397589;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    @include transition;
    &:hover{
      box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
      border: 1px solid transparent;
      .slots-acardeon__header{
        text-decoration: underline;
      }
    }
  }
  &__header{
    background: #DFF7FF;
    padding: 19px 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: #397589;
    cursor: pointer;
  }
  &__content{
    padding: 19px 36px;
    font-weight: 500;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: #2D2222;
  }
  &__lnk{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 50px;
    text-align: center;
    a{
      max-width: 952px;
      padding: 16px;
      margin: auto;
      font-weight: 600;
      font-size: 24px;
      line-height: 116%;
      text-transform: uppercase;
    }

  }
}
.slots-header-wide{
  margin-top: 45px;
  .single-slot-article__desc{
    height: auto!important;
    align-self: stretch;
    width: 24%;
  }
  &__title{
    margin-bottom: 45px;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__img{
    width: calc(45% - 26px);
    margin-right: 26px;
  }
  &__image{
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    overflow: hidden;
    height: 394px;
    picture{
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__up{
    margin-top: 31px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #00DB5C;
    padding: 13px;
    display: block;
    border-radius: 10px;
  }
  &__tags{
    margin-top: 21px;
    display: flex;
    justify-content: center;
    .tag-item{
      padding: 6px 23px;
      font-weight: 600;
      font-size: 14px;
      line-height: 121%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      border-radius: 5px;
      margin-right: 12px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__big-btn{
    margin-top: 66px;
    display: flex;
    width: 100%;
    padding: 0 50px;
    justify-content: center;
    a{
      max-width: 952px;
      padding: 16px;
      font-weight: 600;
      font-size: 24px;
      line-height: 108%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  &__desc{
    margin-top: 19px;
    display: flex;
    justify-content: center;
    span{
      margin-right: 15px;
      color: #828282;
      font-size: 18px;
      line-height: 116%;
      letter-spacing: 0.03em;
      &:after{
        content: "|";
        margin-left: 15px;
        color: #828282;
      }
      &:last-child{
        margin-right: 0;
        padding-right: 0;
        &:after{
          display: none;
        }
      }
    }
    .applies{
      color: #000000;
    }
  }
  &__table{
    width: calc(31% - 20px);
    margin-right: 20px;
    table{
      width: 100%;
      border-radius: 10px;
      display: block;
      overflow: hidden;
      thead{
        td{
          background-color: #397589;
          color: white;
          text-align: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 116%;
        }

      }
      td{
        border: none;
        border-right: 1px solid #397589;
        text-align: left;
        font-size: 14px;
        line-height: 114%;
        font-weight: 400;
        img{

        }
        a{
          display: inline-flex;
          padding: 5px 20px;
          color: white;
          font-weight: 600;
          font-size: 12px;
          line-height: 116%;
          border-radius: 5px;
          margin-top: 7px;
        }
        &:first-child{
          border-left: 1px solid #397589;
        }
      }
    }
  }
  &__big-text{
    margin-top: 69px;
  }
}
.slots-text-only{
  margin-top: 45px;
  &__content{
    margin-top: 13px;
    ul{
      li{
        position: relative;
        padding-left: 26px;
        margin-bottom: 1.2em;
        font-weight: 300;
        font-size: 18px;
        line-height: 139%;
        &:before{
          position: absolute;
          left: 0;
          top: 0.55em;
          content: "";
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: $red-color;
          display: inline-block;
        }
      }
    }
  }
}
.page-404{
  margin-top: 51px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 82px;
  &__content{
    margin: 51px auto 23px auto;
    max-width: 952px;
  }
  &__image{
    margin-top: -47px;
    margin-right: -104px;
    picture{
      height: 100%;
      width: 100%;
      img{
        height: 100%;
        width: auto;
      }
    }
  }
  &__lnk{
    display: inline-flex;
    padding: 10px 87px;
    width: auto;
  }
}
.contacts{
  margin-top: 45px;
  &__content{
    margin-top: 20px;
  }
  &__form{
    margin-top: 54px;
    background-color: #DFF7FF;
    border-radius: 10px;
    padding: 41px 50px 65px 50px;
    form{
      display: flex;
      flex-wrap: wrap;
      margin-right: -48px;
      .row{
        width: calc(50% - 48px);
        margin-right: 48px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        &.button{
          justify-content: center;
          margin-top: 31px;
          width: 100%;
        }
        button{
          max-width: 367px;
          margin: auto;
        }
        &:last-child{
          margin-bottom: 0;
        }
        input{
          width: 100%;
        }
        &.textarea{
          width: 100%;
        }
      }
    }
  }
}
.search-result{
  margin-top: 45px;
  .pagination{
    margin-top: 55px;
    padding-bottom: 79px;
  }
  &__total{
    margin-top: 34px;
    font-size: 18px;
    line-height: 138%;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #2D2222;
    span{
      color: $red-color;
      font-weight: 700;
    }
  }
  &__form{
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    input{
      width: 78%;
      margin-right: 19px;
    }
    button{
      width: calc(22% - 19px);
      svg{
        margin-right: 10px;
        margin-left: 0;
      }
    }
  }
}
.providers-header{
  margin-top: 45px;
  &__desc{
    margin-top: 20px;
  }
}
.popular-dev{
  margin-top: 45px;
  &__list{
    margin-top: 40px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
  }
  &__item{
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 25px rgba(45, 34, 34, 0.07);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &-lnk{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  &__img{
    height: 180px;
    width: 100%;
    picture{
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__content{
    display: flex;
    padding: 20px;
  }
  &__casinos{
    width: 50%;
    position: relative;
    z-index: 2;
  }
  &__slot{
    width: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 116%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2D2222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.all-providers{
  margin-top: 75px;
  .top-slots__content{
    margin-top: 20px;
  }
  &__filter{
    margin-top: 30px;
    display: flex;
    a{
      font-weight: 500;
      font-size: 24px;
      line-height: 116%;
      letter-spacing: 0.03em;
    }
  }
  &__all{
    margin-right: 24px;
    color: $red-color;
  }
  &__alph{
    display: flex;
  }
  &__part{
    margin-right: 24px;
    a{
      color: #397589;
      text-transform: uppercase;
      @include transition;
      &:hover{
        color: $red-color;
      }
    }
  }
}
.digest-article-header{
  margin-top: 45px;
  &__date{
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: #00DB5C;
  }
  &__heroes{
    margin-top: 26px;
    background: #DFF7FF;
    border-radius: 10px;
    padding: 19px 34px 28px 34px;
  }
  &__about{
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: #397589;
  }
  &__list{
    margin-top: 15px;
    display: flex;
  }
  &__item{
    font-weight: 500;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: #DFF7FF;
    background: #397589;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: block;
    @include transition;
    cursor: pointer;
    &:hover{
      color: #397589;
      background-color: transparent;
      border: 1px solid #397589;
      text-decoration: underline;
    }
  }
  &__desc{
    margin-top: 53px;
  }
}
.digest-list{
  margin-top: 40px;
  &__undertext{
    margin-top: 13px;
  }
  &__list{
    margin-top: 40px;
  }
  &__item{
    margin-bottom: 48px;
    &-undertitle{
      margin-top: 23px;
    }
  }
  &__content{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
  }
  &__image{
    width: calc(50% - 42px);
    margin-right: 42px;
    border-radius: 10px;
    overflow: hidden;
    picture{
      height: 100%;
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__description{
    width: 50%;
  }
  &__video{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 140.9%;
    letter-spacing: 0.03em;
    color: #397589;
    margin-top: 43px;
    @include transition;
    &:hover{
      color: $red-color;
    }
    svg{
      margin-right: 23px;
    }
  }
}
.streamers-article-header{
  margin-top: 45px;
  &-title{

  }
  &__desc{
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.03em;
    color: #397589;
    margin-top: 20px;
  }
  &__content{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
  }
  &__left{
    width: calc(50% - 42px);
    margin-right: 42px;
  }
  &__img{
    border-radius: 10px;
    overflow: hidden;
  }
  &__soc{
    display: flex;
    align-items: center;
    margin-top: 37px;
    a{
      display: block;
      margin-right: 24px;
      img{
        width: auto;
        height: 24px;
      }
    }
    .social-desc{
      font-weight: 600;
      font-size: 18px;
      line-height: 116%;
      letter-spacing: 0.03em;
      color: #000000;
      margin-right: 38px;
    }
  }
  &__right{
    width: 50%;
    .about-single{
      &:last-child{
        padding-bottom: 41px;
      }
      &__title{
        font-weight: 500;
        font-size: 24px;
        line-height: 140.9%;
        letter-spacing: 0.03em;
        color: #397589;
        background: #DFF7FF;
        border-radius: 10px;
        padding: 8px 32px;
        margin-bottom: 20px;
      }
      &__row{
        display: flex;
        border-bottom: 1px dashed #BDBDBD;
        padding-top: 14px;
        &:last-child{
          margin-bottom: 34px;
        }
      }
      &__it{
        width: 31%;
        padding: 0 15px 15px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 140.9%;
      }
      &__value{
        font-size: 18px;
        line-height: 140.9%;
        letter-spacing: 0.03em;
        color: #2D2222;
        a{
          color: #397589;
        }
      }
    }
  }
}